################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Properties
/TSApi.csproj.user
/obj
/bin/Release/net5.0
/.vs/TSApi
